html,body{
    width: 100%;
    margin: 0%;
    height: auto;
}
.nav{
    width: 100%;
    height: 60px;
    border: 1px solid black;
}
.name,.name1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 1px 3px 5px;
    margin-left: 15%;
}
.name1{
    margin-top: 1px;
}
.nav a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
}
.nav-a a:hover{
 text-decoration: underline;
 color: deeppink;
}
.nav-a{
    margin-left: 40%;
    margin-top: -40px;
}

.arrow{
    font-size: 55px;
}
.invite{
    width: 120px;
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: 75%;
    margin-top: -47px;
}
.black{
    width: 40%;
    height: 600px;
    background-color: black;
}
.text1{
    color: white;
    position: absolute;
    font-size: 35px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
   font-style: oblique;
   margin-left: 5%;
   margin-top: 100px;
}
.text2{
    color: white;
    position: absolute;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    margin-top: 300px;
    margin-left: 5%;
}
.text3{
    position: absolute;
    color: white;
    font-size: 16px;
    margin-top: 450px;
    margin-left: 5%;
}
.text4{
    position: absolute;
    font-size: 35px;
    color: white;
    margin-top: 438px;
    margin-left: 11%;
    font-weight: lighter;
}
.img1{
    margin-top: -600px;
}
.img2{
margin-top: -3.5px;
}
.img3{
margin-top: -600px;
}
.one{
    width: 60%;
    margin-left: 40%;
    height: 600px;
}
.second{
    width: 100%;
}
.two{
    width: 60%;
    height: 600px;
}
.text5{
    font-size: 40px;
    width: 450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: oblique;
   font-weight: bold;
   margin-left: 70%;
   margin-top: -450px;
}
.text6{
    width: 400px;
    margin-left: 70%;
    color: grey;
    font-size: 20px;
}
.text7{
    margin-left: 70%;
    font-size: 17px;
    margin-top: 70px;
    font-weight: bold;
}
.text8{
    font-size: 35px;
    margin-left: 79%;
    margin-top: -46px;
}
.second a{
    text-decoration: none;
    color: black;
}
.second a:hover{
    border: 2Npx solid black;
    color: deeppink;
}
.third{
    width: 100%;
    height: 600px;
}
.text9{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    width: 320px;
    margin-top: 150px;
    margin-left: 8%;
    position: absolute;
}
.three{
    width: 60%;
    height: 600px;
    margin-left: 40%;
    margin-top: 42px;
}
.text10{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    margin-top: 350px;
    margin-left: 8%;
    position: absolute;
}
.third a{
    text-decoration: none;
    color: black;
    position: absolute;
}
.text11{
    margin-top: 520px;
    margin-left: 60%;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}
.text12{
    font-size: 40px;
    margin-left: 140%;
    margin-top: -52px;
}
/* ========================== */
.photo-grid{
    width: 100%;
    position: relative;
    margin-top: -4.4px;
}
.four,.five,.six,.seven{
    width: 25%;
}
.seven{
    height: 570px;
}
.four{
    position: relative;
    height: 570px;
}
.five,.six,.seven{
   position: relative;
   margin-left: -5px;
}
.text13,.text14{
    position: absolute;
    color: white;
    margin-left: 2%;
}
.text13{
    font-size: 22px;
    margin-top: -107px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text14{
   margin-top: -85px;
}
.text15{
    width: 18%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -50px;
    margin-left: 1%;
}
.text16{
    margin-top: -35px;
    position: absolute;
    margin-left: 3%;
}
.text17{
    font-size: 40px;
    margin-top: -50px;
    position: absolute;
    margin-left: 14%;
}
.text18,.text19,.text20,.text21,.text22,.text23,.text24,.text25,.text26,.text27,.text28,.text29,.text30,.text31,.text32{
    position: absolute;
}
.text18,.text19,.text20,.text21,.text22{
margin-left: 26%;
color: white;
margin-top: -105px;
}
.text18,.text23,.text28{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text19{
    margin-top: -85px;
}
.text20{
    margin-top: -45px;
    width: 18%;
    height: 1px;
    background-color: white;
}
.text21{
    margin-top: -35px;
}
.text22,.text27,.text32{
    font-size: 40px;
    margin-top: -50px;
    margin-left: 37%;
}
.text23,.text24{
    margin-left: 51%;
    margin-top: -105px;
    color: white;
}

.text24{
    margin-top: -85px;
}
.text25,.text30{
    width: 18%;
    height: 1px;
    background-color: white;
    margin-top: -45px;
}
.text25,.text26{
margin-left: 51%;
}
.text26,.text31{
margin-top: -35px;
}
.text27{
    margin-left: 63%;
}
.text28,.text29,.text30,.text31{
    margin-left: 76%;
    color: white;
}
.text28{
    margin-top: -105px;
}
.text32{
    margin-left: 87%;
}
.text29{
    margin-top: -85px;
}
.photo-grid a{
    text-decoration: none;
    color: white;
}
/* ============================================================================ */
.third-grid{
    width: 100%;
    margin-top: 100px;
}
.thirdgrid-one{
    width: 33%;
    border: 1px solid black;
    float: left;
    text-align: center;
    border: none;
}
.img4{
    position: relative;
    margin-left: 5%;
}
.img5{
    position: relative;
    margin-top: -105px;
    margin-left: 40%;
}
.img6{
    position: relative;
    margin-top: -105px;
    margin-left: 75%;
}
.nine{
    width: auto;
    height: 200px;
}
.ten{
    width: auto;
    height: 100px;
}
.eleven{
    width: auto;
    height: 100px;
}
.text33,.text35,.text37{
    width: 400px;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bolder; 
    margin-left: 5%;
}
.text34,.text36,.text38{
    font-size: 20px;
    width: 350px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
}
/* ----------------------- */
footer,.footer1,.footer3{
    width: 100%;
    border: px solid black;
    background-color: black;
    height: 300px;
    position: relative;
    margin-top: 200px;
}
.footer1{
    margin-top: 400px;
}
.name2{
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 1px 3px 5px;
    margin-left: 10%;
    font-size: 24px;
    margin-top: 55px;
}
.social{
    margin-top: 150px;
    position: absolute;
    margin-left: 8%;
}
svg{
    width: 35px;
    height: 35px;
    color: white;
    padding: 20px;
}
svg:hover{
    color: deeppink;
}
.nav-b a{
color: white;
display: block;
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-decoration: none;
   padding: 20px;
}
.nav-b{
    margin-left: 40%;
    margin-top: 30px;
    position: absolute;
}
.nav-b a:hover{
    text-decoration: underline;
}
.text39{
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 75%;
    margin-top: 100px;
}
.text39:hover{
text-decoration: underline;
}
 .footera{
text-decoration: none;
}

.text40{
    text-decoration: none;
    font-size: 35px;
    color: white;
    margin-left: 85%;
    margin-top: 90px;
    position: absolute;
}
.text41{
    position: absolute;
    font-size: 22px;
    margin-left: 73%;
    margin-top: 170px;
    color: grey;
}
/*================================== hover ============================*/
.text3:hover,.text7:hover,.text11:hover,.text16:hover,.text21:hover,.text26:hover,.text31:hover{
text-decoration: underline;
}
.invite:hover{
    background-color: deeppink;
    color: black;
}
/*============================== page2===============
==============================================================================================================================================
================================================================================== */
.page2-one{
    width: 100%;
    height: 650px;
}
.text50{
    font-size: 10px;
    margin-top: -500px;
    margin-left: 10%;
    color: rgb(255, 255, 255,0.8);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.text51{
    font-size: 55px;
    width: 350px;
    position: absolute;
    margin-top: -490px;
    color: white;
    margin-left: 9.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.text52{
    margin-top: -300px;
    position: absolute;
    color: rgb(255, 255, 255,0.7);
    margin-left: 10%;
    font-size: 12px;
}
.text53{
    margin-top: -260px;
    position: absolute;
    color: rgb(255, 255, 255,0.6);
    margin-left: 10%;
    font-size: 18px;
    width: 400px;
    word-spacing: 5px;
}
.text54{
    margin-top: -120px;
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 12%;
    font-family: 'Times New Roman', Times, serif;
}
.text55{
    position: absolute;
    color: white;
    font-size: 35px;
    margin-top: -133px;
    margin-left: 23%;
}
.text54:hover{
    text-decoration: underline;
}
/* ----------------- */
.page2-grid2{
    position: relative;
}
.page2-2,.page2-3,.page2-4{
    width: 25%;
    margin-left: -0.5%;
    margin-top: -5px;
}
.page2-2,.page2-4{
    height: 569.5px;
}
.text56,.text57,.text58,.text59,.text60,.text61,.text62,.text63,.text64,.text65,.text66,.text67,.text68,.text69,.text70,.text71,.text72,.text73,.text74,.text75{
    position: absolute;
    color: white;
}
.text56,.text61,.text66,.text71,.text96,.text101,.text106,.text111{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: -150px;
}
.text56,.text57,.text58,.text59,.text76,.text77,.text78,.text79,.text96,.text97,.text98,.text99{
    margin-left: 2%;
}
.text61,.text62,.text63,.text64,.text81,.text82,.text83,.text84,.text101,.text102,.text103,.text104{
    margin-left: 26%;
}
.text66,.text67,.text68,.text69,.text86,.text87,.text88,.text89,.text106,.text107,.text108,.text109{
    margin-left: 51%;
}
.text71,.text72,.text73,.text74,.text91,.text92,.text93,.text94,.text111,.text112,.text113,.text114{
    margin-left: 76%;
}
.text57,.text62,.text67,.text72,.text77,.text82,.text87,.text92,.text97,.text102,.text107,.text112{
margin-top: -125px;
}
.text63,.text68,.text73,.text58,.text78,.text83,.text88,.text93,.text98,.text103,.text108,.text113{
    width: 18%;
    height: 2px;
    background-color: #ffffff;
    margin-top: -85px;
}
.text59,.text64,.text69,.text74,.text79,.text84,.text89,.text94,.text99,.text104,.text109,.text114{
    margin-top: -72px;
}
.text60,.text65,.text70,.text75,.text80,.text85,.text90,.text95,.text100,.text105,.text110,.text115{
    font-size: 40px;
    margin-top: -86.5px;
}
.text60,.text80,.text100{
    margin-left: 13%;
}
.text64:hover,.text59:hover,.text69:hover,.text74:hover,.text79:hover,.text84:hover,.text89:hover,.text94:hover,.text99:hover,.text104:hover,.text109:hover,.text114:hover{
text-decoration: underline;
}
.text65,.text85,.text105{
    margin-left: 37%;
}
.text70,.text90,.text110{
    margin-left: 63%;
}
.text75,.text95,.text115{
    margin-left: 87%;
}
/* ---------------------------------------------------------------- */
.page2-grid3{
    position: relative;
    margin-top: -1%;
}
.page2-grid3 a{
    text-decoration: none;
}
.page2-5,.page2-6{
    width: 25%;
    margin-left: -0.5%;
}
.page2-6{
    height: 569.5px;
}
.text76,.text77,.text78,.text79,.text80,.text81,.text82,.text83,.text84,.text85,.text86,.text89,.text90,.text91,.text92,.text93,.text94,.text95,.text87,.text88,.text89{
    position: absolute;
    text-decoration: none;
    color: white;
}
.text76,.text81,.text86,.text91{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: -150px;
}
/* -------------------------------------------------------------------------------- */
.text96,.text97,.text98,.text99,.text100,.text101,.text102,.text103,.text104,.text105,.text106,.text107,.text108,.text109,.text110,.text111,.text112,.text113,.text114,.text115{
    position: absolute;
    color: white;
}
.page2-grid4{
    margin-top: -1%;
    position: relative;
    width: 100%;
}
.page2-7,.page2-8,.page2-9{
    width: 25%;
    margin-left: -0.5%;
}
.page2-7,.page2-9{
    height:  569.5px;
}
.footer1{
    margin-top: -4px;
}
/* ====================================================================================
=======================page3=================================================
============================================================================================== */
.page3-black,.page4-black{
    width: 40%;
    background-color: black;
    height: 600px;
}
.page3-one,.page4-one{
    width: 100%;
    height: 600px;
}
.page3-grid1,.page4-grid1{
  position: absolute;
  width: 60%;
  margin-top: -600px;
margin-left: 40%;
}
.text120{
    font-size: 36px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: -400px;
    color: white;
    margin-left: 8%;
}
.text121{
    position: absolute;
    width: 400px;
    font-size: 18px;
    color: rgb(255, 255, 255,0.65);
    font-family: 'Times New Roman', Times, serif;
    margin-top: -350px;
    margin-left: 7%;
}
.page3-grid3,.page4-grid4{
    width: 100%;
    height: auto;
    margin-top: 600px;
}
.page3-two{
    width: 100%;
    height: 250px;
}
.footer3{
    margin-top: -4px;
}
.text140{
    width: 400px;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    margin-top: -200px;
    margin-left: 10%;
    color: white;
}
.text141,.text142{
    position: absolute;
    color: white;
}
.text141{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 70%;
    margin-top: -200px;
}
.text141:hover{
    text-decoration: underline;
}
.text142{
    font-size: 35px;
    margin-top: -210px;
    margin-left: 80%;
}
.text124{
    background-color: black;
}
.text123{
    width: 100px;
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
    margin-left: 50%;
    margin-top: 5%;
}
.text137{
width: 25px;
position: absolute;
height: 25px;
border: 1px solid black;
border-radius: 50%;
background-color: black;
margin-left: 71.5px;
margin-top: 2px;
}
.text124{
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
margin: 2px;
width: 25px;
height: 25px;
}

.text122,.text125{
    position: absolute;
    margin-top: 5.5%;
}
.text122{
    margin-left: 42%;
}
.text125{
    margin-left: 60%;
}
.text126{
    width: 100%;
}
.text127{
    width: 30%;
    border: 1px solid black;
    background-color: white;
    height: 400px;
    margin-left: 3%;
    margin-top: 100px;
    float: left;
    border: none;
}
.text127 a{
    text-decoration: none;
    color: black;
}
.text128,.text134,.text135{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 40%;
}
.text134{
    margin-left: 25%;
}
.text135{
    margin-left: 25%;
}
.text129{
    font-size: 20px;
    width: 350px;
    margin-left: 15%;
    font-family: 'Times New Roman';
    letter-spacing: 2px;
}
.text130{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
margin-left: 40%;
}
.text131{
    font-size: 10px;
    margin-left: 48%;
    margin-top: -40px;
}
.text132{
width: 130px;
height: 35px;
border: 2px solid black;
margin-left: 36%;
}
.text133{
    margin-top: 6px;
    margin-left : 13px;
    letter-spacing: 1px;
}

.text127:hover{
    background-color: black;
    color: white;
}
.text127:hover .text132{
    background-color: lightgray;
    color: black;
}

/* ======================================================================================
=====================================page4=====================================
------------=======================================================-------------------------------------------------------------- */
/* page3 and 4 are similar */
.page4-grid4{
    margin-top: 200px;
}