@media screen and (max-width : 1000px){
    html,body{
        width: 110%;
        height: auto;
    }
/* nav */
/* mobie navigation  */
nav{
    display: none;
}
.name3{
    position: absolute;
    color: black;
    font-size: 42px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 5px;
}
.name3 a{
    text-decoration: none;
    color: black;
}
#navbar-2{
width: 100%;
height: 100px;
border: 1px solid black;
display: contents;
border: none;
}

.nav-container{
    width: 100%;
    height: 0%;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    overflow-y: hidden;
top: 0;
left: 0;
}
.nav-contains{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.nav-contains a{
    font-size: 40px;
    display: block;
    text-decoration: none;
    padding-bottom: 45px;
    transition: 0.3s;
    color: white;
}
.nav-contains a:hover, a:focus{
color: deeppink;
text-decoration: underline;
font-size: 45px;
}
.nav-container svg{
    width: 55px;
    height: 55px;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-left: 75%;
    margin-top: 10%;
    color: white;
}

.openbtn{
  font-size: 60px;
    margin-left: 80%;
    position: relative;
}
/* --------------- */


    /* first grid */
    .first60{
        width: 100%;
        height: 750px;
        margin-top: 0px;
        margin-left: 0%;
    }
    .one{
        width: 100%;
        height: 750px;
    }
    .black1{
        width: 100%;
        height: 750px;
        background-color: black;
        margin-top: 0px;
    }
    .text1{
        font-size: 64px;
        font-weight: bolder;
        margin-left: 50px;
        width: 400px;
        position: absolute;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .text2{
        font-size: 35px;
        font-weight: normal;
        margin-left: 50px;
        width: 820px;
        position: absolute;
        color: rgb(255, 255, 255,0.8);
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-top: 330px;
    }
    .text3{
        font-size: 26px;
        font-weight: bold;
        margin-left: 50px;
        width: 450px;
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
        margin-top: 510px;
        border: 1px solid black;
    }
    .text4{
        position: absolute;
        font-size: 55px;
        color: white;
        margin-top: 485px;
        margin-left: 320px;
    }

/* --------------grid2--------------------- */

.second60{
    width: 100%;
    height: 750px;
}
.two{
    width: 100%;
    height: 750px;
}
.white1{
    margin-top: 0px;
    background-color: white;
    color: black;
}
.text5{
    font-size: 68px;
    font-weight: bolder;
    margin-left: 10%;
    width: 400px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.text6{
    font-size: 45px;
    font-weight: normal;
    margin-left: 10%;
    width: 800px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 360px;
}
.text7{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-top: 600px;
    position: absolute;
    font-weight: bolder;
    color: black;
}
.text7:hover{
    text-decoration: underline;
}
.text8{
    position: absolute;
    font-size: 55px;
    margin-top: 571px;
    margin-left: 40%;
    color: black;
}

/* --------------grid3--------------------- */
.grid3{
    height: 800px;
}
.third60{
    width: 100%;
    height: 750px;
position: relative;
margin-top: 800px;
margin-left: 0%;
}
.three{
    width: 100%;
    height: 750px;
}
.text9{
    font-size: 68px;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 50px;
    width: 350px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text10{
    font-size: 45px;
    font-weight: normal;
    margin-left: 10%;
    width: 800px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 350px;
}
.text11:hover{
    text-decoration: underline;
}
.text11{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-top: 640px;
    position: absolute;
    font-weight: bolder;
    color: black;
}
.text12{
    position: absolute;
    font-size: 56px;
    margin-top: 610px;
    margin-left: 35%;
    color: black; 
}

/* --------------grid4--------------------- */
.grid4{
    width: 100%;
    height: auto;
    margin-top: 750px;
}
/* float */
.img-1,.img-2,.img-3,.img-4{
    float: none;
    width: 100%;
    height: auto;
    margin-top: -8px;
}

.four,.five,.six,.seven{
    width: 100%;
    height: auto;
}
.text13{
    font-size: 65px;
    position: absolute;
    color: white;
    margin-top: -350px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 80%;
    margin-left: 10%;
}
.text14{
    font-size: 45px;
    position: absolute;
    color: white;
    margin-top: -290px;
    font-family:'Times New Roman', Times, serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: normal;
    width: 100%;
    margin-left: 11%;
}
.line1{
    width: 80%;
    height: 5px;
    background-color: white;
    position: absolute;
    margin-top: -220px;
    margin-left: 10%;
}
.text15{
    font-size: 36px;
    position: absolute;
    color: white;
    margin-top: -200px;
    font-family:'Times New Roman', Times, serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    margin-left: 10%;
}
/* --------------grid5----------------- */
.grid5{
    width: 100%;
    height: auto;
    margin-top: 100px;
    }
    .responsive{
        width: 50%;
        margin-left: 25%;
       float: none;
       margin-bottom: 15%;
    }

/* <!-- =============================================================================================
========================================================================================================= --> */
/* page2 stories */
/* grid6 */
.grid6{
    width: 100%;
    height: 700px;
}
.eight{
    width: 100%;
    height: 700px;
}
.black2{
    width: 100%;
    background-color: black;
    height: 700px;
    margin-top: -1px;
}
.text20{
    position: absolute;
    margin-top: 120px;
    color: white;
    margin-left: 100px;
    font-size: 20px;
    letter-spacing: 1px;
}
.text21{
    position: absolute;
    margin-top: 140px;
    font-size: 65px;
    width: 400px;
    font-weight: bolder;
    color: white;
    margin-left: 95px;
}

.text22{
    position: absolute;
    margin-top: 380px;
    color: white;
    margin-left: 100px;
    font-size: 20px;
    letter-spacing: 1px;
}
.text23{
    position: absolute;
    margin-top: 430px;
    color: rgb(255, 255, 255,0.8);
    margin-left: 100px; 
    width: 800px;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.text24 a{
    position: absolute;
    margin-top: 590px;
    color: rgb(255, 255, 255,0.8);
    margin-left: 100px; 
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
}

.text24 a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: deeppink;
    }
.footer1{
    margin-top: -100px;
}

/* <!-- =============================================================================================
========================================================================================================= --> */
/* page2 stories */
/* grid7*/
.grid60{
    width: 100%;
    height: 750px;
    margin-left: 0%;
}
.nine{
    width: 100%;
    height: 750px;
}
.grid40{
    width: 100%;
    height: 700px;
    background-color: black;
    margin-top: 0px;
}
.text25{
    position: absolute;
    color: white;
    margin-top: 150px;
    font-size: 65px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
}
.text26{
    position: absolute;
    color: rgb(255, 255, 255,0.85);
    margin-top: 260px;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-left: 20%;
    width: 630px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

/* <!-- =============================================================================================
========================================================================================================= --> */
/* page4 features stories */
/* grid8*/
.grid8{
    width: 100%;
}
.grid60-2{
    width: 100%;
    height: 700px;
    margin-left: 0%;
}
.ten{
    width: 100%;
    height: 700px;
}
.grid40-2{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
    margin-top: 0px;
}
.text27{
    position: absolute;
    color: white;
    margin-top: 150px;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-left: 20%;
}
.text28{
    position: absolute;
    color: rgb(255, 255, 255,0.85);
    margin-top: 260px;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-left: 20%;
    width: 700px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}
/* -------------------------- */
.pagegrid{
    width: 100%;
    position: relative;
}
.on-off{
    width: 100%;
    margin-top: 50px;
}
.text29{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    margin-left: 22%;
}
.text30{
    width: 180px;
    height: 60px;
    border: 1px solid black;
    border-radius: 35px;
    position: absolute;
    margin-left: 45% ;
    margin-top: 2.4%;
}
.text31{
    background-color: black;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    margin-left: 45.1% ;
   padding: 3.4px;
   margin-top: 2.4%;
}
.text40{
    background-color: black;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    margin-left: 55.9% ;
   padding: 3.4px;
   margin-top: 2.4%;
}
.text32{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    margin-left: 65%;
}
.pagegrid2{
    width: 100%;
  height: 500px;
  margin-top: 150px;
  position: absolute;
}
.prices,.yearlyplans{
    width: 70%;
    height: 850px;
    margin-left: 15%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    text-align: center;
}
.text33{
    font-weight: bold;
    font-size: 60px;
}
.text34{
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 800px;
    font-size: 40px;
}
.text35{
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.text36{
    margin-top: -50px;
    font-size: 28px;
    letter-spacing: 1px;
}
.text37{
    border: 1px solid black;
    font-size: 44px;
    width: 350px;
    height: 50px;
    margin-left: 240px;
 font-weight: bold;
}
/* ----------------footer---------------- */
   
footer{
    width: 100%;
    height: 600px;
    background-color: black;
margin-top: 100px;
} 
footer a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 15px;
}
.name-f{
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 480px;
}
.footer-nav{
    position: absolute;
    margin-top: 240px;
    margin-left: 45%;
}
.copyright{
    color: lightgray;
    position: absolute;
    margin-left: 35%;
    margin-top: 550px;
    font-size: 20px;
}
svg{
    color: white;
   width: 50px;
   padding-left: 25px;
}
.social{
    margin-left: 35%;
}

}