/* <!-- =============================================================================================
========================================================================================================= --> */
/* nav */
nav{
    background-color: white;
    width: 100%;
    height: 40px;
}
#navbar-2{
    display: none;
}
.name{
    position: absolute;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 150px;
}
.name a{
    text-decoration: none;
    color: black;
}
.main-nav a{
    color: black;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
    padding-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.main-nav{
    position: absolute;
    margin-left: 35%;
}
/* -------------------------------------------- */

.storymain-div{
    width: 100%;
}
.image-div{
    width: 40%;
    height: auto;
    margin: 150px;
    position: relative;
    height: 1200px;
}
.storyimg-1{
    width: 100%;
    height: auto;
}
.title{
    width: 300px;
    height: 350px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border: none;
   margin-top: -1100px;
   margin-left: 600px;
  position: absolute;
}
.storytext1{
    width: 150px;
    font-size: 50px;
    font-family: 'Times New Roman', Times;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 15px;
}
.storytext2{
    color: gray;
font-family: 'Times New Roman', Times;
margin-top: -40px;
margin-left: 45px;
}
.storytext3,.storytext4{
    font-size: 24px;
}
aside{
    float: right;
    width: 30%;
    margin-top: -1000px;
    margin-right: 90px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 5px;
    font-family: 'Times New Roman', Times;
}
.readmore,.readless{
    width: 200px;
    height: 30px;
    font-size: 24px;
    color: black;
    text-align: center;
    border: 2px solid black;
}
.readmore:hover, .readless:hover{
    background-color: lightgray;
    font-weight: bold;
    cursor: pointer;
}












@media screen and (max-width:1000px){
    

body,html{
    width: 100%;
    margin: 0px;
}
/* mobie navigation  */
nav{
    display: none;
}
.name3{
    position: absolute;
    color: black;
    font-size: 42px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 5px;
}
.name3 a{
    text-decoration: none;
    color: black;
}
#navbar-2{
width: 100%;
height: 100px;
border: 1px solid black;
display: contents;
border: none;
}

.nav-container{
    width: 100%;
    height: 0%;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    overflow-y: hidden;
top: 0;
left: 0;
}
.nav-contains{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.nav-contains a{
    font-size: 40px;
    display: block;
    text-decoration: none;
    padding-bottom: 45px;
    transition: 0.3s;
    color: white;
}
.nav-contains a:hover, a:focus{
color: deeppink;
text-decoration: underline;
font-size: 45px;
}
.nav-container svg{
    width: 55px;
    height: 55px;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-left: 75%;
    margin-top: 10%;
    color: white;
}

.openbtn{
  font-size: 60px;
    margin-left: 80%;
    position: relative;
}

/* --------------- */

/* stories pages */
.storymain-div{
    width: 100%;
}
.image-div{
    width: 90%;
    height: 1600px;
    margin-top: 100px;
    margin-left: 5%;
}
.storyimg-1{
    width: 100%;
    height: 1200px;
}
.title{
    width: 340px;
    height: auto;
    background-color: white;
    color: black;
   margin-top: -820px;
   margin-left: 480px;
   position: absolute;
}
.storytext1{
    width: 300px;
    font-size: 50px;
    font-family: 'Times New Roman', Times;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 25px;
}
.storytext2{
    color: gray;
font-family: 'Times New Roman', Times;
margin-top: -40px;
margin-left: 45px;
font-size: 35px;
}
aside{
    float: none;
    width: 90%;
    margin-top: -400px;
    margin-right: 0px;
    margin-left: 8%;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 5px;
    font-family: 'Times New Roman', Times;
}
.readmore,.readless{
    width: 400px;
    height: 60px;
    font-size: 38px;
    color: black;
    text-align: center;
    border: 2px solid black;
    font-weight: bolder;
}
.readmore:hover, .readless:hover{
    background-color: lightgray;
    font-weight: bold;
    cursor: pointer;
}
}